.firstScreen {
  height: calc(100vh - 116.5px);
  background: url("../../assets/images/home/bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.firstScreen::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0000008A;
  z-index: 1;
}
.firstScreen .container {
  height: calc(100vh - 96.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.firstScreen__content {
  z-index: 2;
}
.firstScreen__content button {
  display: block;
  margin: 0 auto;
  height: 56px;
  padding: 16px 30px;
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.firstScreen__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 73px;
  text-align: center;
  color: #FFFFFF;
}
.firstScreen__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
  margin: 25px 0 50px;
}
.firstScreen__box {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 55px 85px;
  z-index: 2;
}
.firstScreen__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 230px;
}
.firstScreen__item_stats {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #222222;
  margin: 0 0 8px;
}
.firstScreen__item_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #086CF9;
}

.about {
  padding: 225px 0 125px;
}
.about h2, .about p {
  text-align: left;
}
.about__row {
  display: flex;
  justify-content: space-between;
}
.about__left {
  width: 45.6%;
}
.about__right {
  width: 52.2%;
}
.about__right img {
  width: 100%;
  border-radius: 4px;
}
.about .section__subtitle {
  margin: 15px 0 25px;
}
.about__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin: 0 0 30px;
}
.about button {
  padding: 15px 32px 14px;
}

.work {
  padding: 0 0 125px;
}
.work h3 {
  text-align: center;
}
.work p {
  text-align: center;
  margin: 15px 0 0;
}
.work__row {
  margin: 50px 0 0;
  display: flex;
  column-gap: 50px;
}
.work__card {
  width: calc(25% - 37.5px);
}
.work__card img {
  display: block;
  margin: 0 auto 25px;
}
.work__card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
}
.work__card_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

.courses {
  padding: 60px 0;
  background: #ECF4FF;
}
.courses__row {
  margin: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
}
.courses__card {
  border-radius: 10px;
  padding: 25px 25px 35px;
  background: #FFF;
  width: calc(33.3333333333% - 16.6666666667px);
  transition: 0.3s;
  cursor: pointer;
}
.courses__card:hover {
  box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02), 0 11px 15px rgba(95, 137, 158, 0.04);
  transition: 0.3s;
}
.courses__card img {
  height: 110.5px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 6px;
}
.courses__card_images {
  display: flex;
  margin: 0 0 25px;
  column-gap: 25px;
  justify-content: center;
}
.courses__card_images img:first-child {
  width: 30%;
}
.courses__card_images img:last-child {
  width: 25%;
}
.courses__card_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 25px;
  border-bottom: 1px solid #E9E8E8;
}
.courses__card_items div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.courses__card_items i {
  color: #086CF9;
}
.courses__card_items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}
.courses__card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.courses__card_row h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
}
.courses__card_row p {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #086CF9;
}
.courses__card_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}
.courses .courses__button {
  font-family: "DM Sans", sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
  display: block;
  margin: 50px auto 0;
}

.statistics {
  padding: 72px 0;
  background: #D3E5FE;
}
.statistics__row {
  display: flex;
  justify-content: center;
  column-gap: 160px;
}
.statistics__card p {
  text-align: center;
}
.statistics__card p:first-child {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
  margin: 0 0 16px;
}
.statistics__card p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.reviews {
  padding: 60px 0 125px;
}
.reviews__swiper {
  margin: 50px 0 125px;
  position: relative;
}
.reviews__swiper .swiper {
  width: 88.6%;
  margin: 0 auto;
  position: static;
  box-shadow: 0 13px 45px rgba(0, 0, 0, 0.08);
}
.reviews__swiper .swiper .swiper-slide {
  box-shadow: 0 13px 45px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.reviews__swiper .swiper .swiper-button-next, .reviews__swiper .swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #086CF9;
}
.reviews__swiper .swiper .swiper-button-next::after, .reviews__swiper .swiper .swiper-button-prev::after {
  font-size: 16px;
  color: #FFFFFF;
}
.reviews__swiper .swiper .swiper-button-prev {
  left: 0;
}
.reviews__swiper .swiper .swiper-button-next {
  right: 0;
}
.reviews__swiper .swiper .swiper-button-disabled {
  background: white;
  border: 1px solid #b5b4b4;
}
.reviews__swiper .swiper .swiper-button-disabled::after {
  color: #b5b4b4;
}
.reviews__card {
  border-radius: 6px;
  padding: 30px 24px 38px 15px;
}
.reviews__card_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  margin: 0 0 20px;
}
.reviews__card_info {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.reviews__card_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #222222;
  margin: 0 0 8px;
}
.reviews__card_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}
.reviews__form {
  width: 82.5%;
  margin: 0 auto;
  padding: 48px 200px 64px;
  background: #086CF9;
  border-radius: 6px;
}
.reviews__form_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #FCFCFC;
  text-align: center;
}
.reviews__form_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #F9F9F9;
  margin: 12px 0 40px;
}
.reviews__form form {
  width: 100%;
  padding: 8px 8px 8px 24px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 4px;
}
.reviews__form form input {
  height: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}
.reviews__form form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}
.reviews__form form button {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  .firstScreen__title {
    font-size: 42px;
    line-height: 50px;
  }
  .firstScreen__subtitle {
    font-size: 15px;
    margin: 20px 0 40px;
  }
  .firstScreen__subtitle br {
    display: none;
  }
  .firstScreen__content button {
    padding: 0 15px;
    font-size: 15px;
    line-height: 22px;
    max-height: unset;
    height: 45px;
  }
  .firstScreen__box {
    padding: 30px 0;
    justify-content: center;
    column-gap: 20px;
  }
  .firstScreen__item {
    justify-content: center;
  }
  .firstScreen__item img {
    width: 64px;
    height: 56px;
  }
  .firstScreen__item_stats {
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 5px;
  }
  .firstScreen__item_title {
    font-size: 15px;
  }

  .about {
    padding: 150px 0 50px;
  }
  .about .section__subtitle {
    margin: 10px 0 15px;
  }
  .about__descr {
    font-size: 18px;
    margin: 0 0 20px;
  }
  .about button {
    padding: 12px 28px 10px;
    font-size: 13px;
  }

  .statistics {
    padding: 60px 0;
  }
  .statistics__row {
    column-gap: unset;
    justify-content: space-between;
  }

  .reviews {
    padding: 60px 0 80px;
  }
  .reviews__swiper {
    margin: 40px 0 80px;
  }
  .reviews__swiper .swiper .swiper-button-next, .reviews__swiper .swiper .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .reviews__swiper .swiper .swiper-button-next::after, .reviews__swiper .swiper .swiper-button-prev::after {
    font-size: 15px;
  }
  .reviews__card {
    padding: 25px 22px 32px 13px;
  }
  .reviews__card_content {
    font-size: 15px;
    margin: 0 0 15px;
  }
  .reviews__card_info {
    column-gap: 10px;
  }
  .reviews__card_info img {
    width: 64px;
    height: 64px;
  }
  .reviews__card_name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .reviews__form {
    padding: 30px 0 60px;
  }
  .reviews__form form {
    width: 60%;
    margin: 0 auto;
    padding: 6px 8px 6px 12px;
  }
  .reviews__form form input {
    width: 75%;
  }
  .reviews__form form button {
    padding: 5px;
    width: 23%;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .firstScreen__title {
    font-size: 36px;
    line-height: 42px;
  }
  .firstScreen__subtitle {
    font-size: 14px;
    margin: 15px 0 30px;
  }
  .firstScreen__content button {
    height: 40px;
    font-size: 14px;
  }
  .firstScreen__box {
    padding: 20px 0;
  }
  .firstScreen__item {
    column-gap: 10px;
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .firstScreen__item img {
    width: 50px;
    height: 40px;
  }
  .firstScreen__item_stats {
    font-size: 24px;
    line-height: 28px;
  }
  .firstScreen__item_title {
    font-size: 14px;
  }

  .about {
    padding: 110px 0 40px;
  }
  .about__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__left {
    width: 90%;
    margin: 0 auto;
  }
  .about__right {
    width: 80%;
    margin: 0 auto;
  }

  .work {
    padding: 0 0 60px;
  }
  .work__row {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .work__card {
    width: calc(50% - 25px);
  }
  .work__card_title {
    font-size: 20px;
    line-height: 22px;
  }
  .work__card_subtitle {
    font-size: 13px;
    line-height: 130%;
  }

  .courses__row {
    column-gap: 50px;
  }
  .courses__card {
    width: calc(50% - 25px);
    padding: 15px 15px 20px;
  }
  .courses__card img {
    height: 80px;
    margin: 0 auto 10px;
  }
  .courses__card_items {
    padding: 0 0 10px;
  }
  .courses__card_items i {
    font-size: 15px;
  }
  .courses__card_items p {
    font-size: 14px;
  }
  .courses__card_row {
    margin: 10px 0;
  }
  .courses__card_row h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .courses__card_row p {
    font-size: 20px;
    line-height: 24px;
  }
  .courses__card_subtitle {
    font-size: 13px;
    line-height: 130%;
  }
  .courses .courses__button {
    padding: 10px;
    margin: 30px auto 0;
  }

  .statistics {
    padding: 40px 0;
  }
  .statistics__card p:first-child {
    font-size: 36px;
    line-height: 130%;
    margin: 0 0 5px;
  }
  .statistics__card p:last-child {
    font-size: 15px;
    line-height: 130%;
  }

  .reviews {
    padding: 40px 0 60px;
  }
  .reviews__swiper {
    display: none;
  }
  .reviews__form {
    margin: 30px auto 0;
    padding: 20px 0 40px;
  }
  .reviews__form_title {
    font-size: 28px;
    line-height: 130%;
  }
  .reviews__form_subtitle {
    font-size: 15px;
    line-height: 130%;
    margin: 8px 0 25px;
  }
  .reviews__form form input {
    width: 65%;
  }
  .reviews__form form button {
    width: 33%;
  }
}
@media (max-width: 425px) {
  .firstScreen__box {
    column-gap: 10px;
  }
  .firstScreen__item img {
    width: 40px;
    height: 32px;
  }
  .firstScreen__item_stats {
    font-size: 20px;
    line-height: 22px;
  }
  .firstScreen__item_title {
    line-height: 16px;
  }

  .courses__row {
    column-gap: 15px;
  }
  .courses__card {
    width: calc(50% - 8px);
    padding: 10px 10px 14px;
  }
  .courses__card_items {
    padding: 0 0 5px;
  }
  .courses__card_items div {
    column-gap: 2px;
  }

  .reviews__form {
    width: 100%;
    padding: 10px;
  }
  .reviews__form br {
    display: none;
  }
  .reviews__form form {
    width: 100%;
  }
}

/*# sourceMappingURL=home.css.map */
