.aside {
  background: #080721;
  width: 18%;
  height: 100vh;
  position: relative;

  &__title {
    padding: 25px 0 0 25px;
    margin: 0 0 50px;

    a {
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      color: #FFF;
    }
  }

  &__menu {
    a {
      display: flex;
      align-items: center;
      column-gap: 10px;
      width: 100%;
      border-radius: 0 24px 24px 0;
      cursor: pointer;
      color: #D0D3D8;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      padding: 8px 0 8px 25px;
    }
    .active {
      color: #FFFFFF;
      background: #16152B;
    }

    &_category {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #98A0AD;
      text-transform: uppercase;
      padding: 0 0 0 25px;
      margin: 32px 0 5px;
    }
  }
  &__settings {
    position: absolute;
    bottom: 5%;
  }
}