.product {
  overflow: auto;
  height: 100vh;
  padding: 17px 32px 32px;

  &__row {
    margin: 0 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 68%;

    &_row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 30px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.24px;
    color: #030235;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #030235;
    margin: 16px 0 36px;
  }

  &__card {
    width: calc(100% / 3 - 80px / 3);

    i {
      font-size: 55px;
      color: #030235;
    }

    h4 {
      font-size: 16px;
      line-height: 24px;
      color: #030235;
      margin: 0 0 8px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      color: #030235;
    }
  }

  &__right {
    margin: 50px 0 0;
    width: 25%;

    img {
      display: block;
      width: 80%;
      margin: 0 auto 30px;
    }

    &_animate {
      transform: rotateY(0);
      animation: rotateImg 5s linear infinite;
    }

    &_row {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_sale {
      display: inline-block;
      padding: 10px 20px 9px;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      color: #030235;
      border-radius: 25px;
      margin: 0 0 15px;
      position: relative;

      &::before {
        content: '';
        width: 60%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(30deg);
        background: red;
      }

      &::after {
        content: '';
        width: 60%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-30deg);
        background: red;
      }
    }

    &_price {
      display: block;
      padding: 10px 80px 9px 20px;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      color: #030235;
      border-radius: 25px;
      background: #f7d275;
      margin: 0 0 15px;
      position: relative;

      &::after {
        content: '-15%';
        padding: 2px 10px;
        font-size: 12px;
        line-height: 24px;
        color: #f7d275;
        border-radius: 25px;
        background: #030235;
        margin: 0 0 15px;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .product__right_btn {
      margin: 20px 0 0;
      width: 100%;
      background: #030235;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #FFFFFF;
      padding: 10px;
      text-transform: capitalize;
      border: 1px solid transparent;

      &:hover {
        background: transparent;
        color: #030235;
        border: 1px solid #030235;
      }
    }

    .product__right_delete {
      color: #970e00;
      border: 1px solid #970e00;
      background: #970e0020;
    }
  }
}

.congratulations {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &__disabled {
    display: none;
  }

  &__box {
    z-index: 3;
    background: #FFFFFF;
    border-radius: 12px;
    width: 500px;
    padding: 0 0 30px;
  }

  &__top {
    padding: 16px 16px 16px 24px;
    border: 1px solid #59647629;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px;

    h3 {
      font-size: 17px;
      line-height: 24px;
      color: #030235;
      display: flex;
      align-items: center;
      column-gap: 5px;

      i {
        font-weight: 300;
        color: #f7d275;
        font-size: 30px;
      }
    }

    button {
      min-width: unset;
      line-height: normal;
      color: #030235;
      font-size: 20px;
      padding: 3px 4px;
    }
  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #030235;

    a {
      border-bottom: 1px solid #454794;

      &:hover {
        color: #454794;
      }
    }
  }
}

@keyframes rotateImg {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.list {
  img {
    width: 25px;
    height: 25px;
  }
}