.coursesApp {
  padding: 32px;
}
.coursesApp__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.24px;
  color: #030235;
  margin: 0 0 40px;
}
.coursesApp__row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 30px;
}
.coursesApp__card {
  width: calc(33.3333333333% - 33.3333333333px);
  box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02), 0 11px 15px rgba(95, 137, 158, 0.04);
  transition: 0.3s;
}
.coursesApp__card:hover {
  transition: 0.3s;
}
.coursesApp__card_top {
  background: #C9C7EF;
  border-radius: 12px 12px 0 0;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.coursesApp__card_top img {
  width: 60px;
  height: 60px;
}
.coursesApp__card_title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #030235;
}
.coursesApp__card_mentor {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: #030235;
  opacity: 0.7;
}
.coursesApp__card_bot {
  background: #FFF;
  padding: 10px 20px 15px;
  border-radius: 0 0 12px 12px;
}
.coursesApp__card_bot .coursesApp__card_bot-btn {
  width: 100%;
  display: block;
  margin: 25px 0 0;
  background: #f6f7ff;
  color: #030235;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.coursesApp__card_bot .coursesApp__card_bot-btn:hover {
  background: #C9C7EF;
}
.coursesApp__card_bot-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coursesApp__card_bot-row button {
  display: block;
  margin: 25px 0 0;
  background: #f6f7ff;
  color: #030235;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  border: 1px solid transparent;
}
.coursesApp__card_bot-row button:first-child {
  width: 80%;
}
.coursesApp__card_bot-row button:first-child:hover {
  background: #C9C7EF;
}
.coursesApp__card_bot-row button:last-child {
  color: #970e00;
  border: 1px solid #970e00;
  background: #970e0020;
  max-height: unset;
  min-width: unset;
  font-size: 18px;
  padding: unset;
  height: 34px;
  width: 40px;
}
.coursesApp__card_bot-row button:last-child:hover {
  background: rgba(151, 14, 0, 0.17);
}
.coursesApp__card_subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #030235;
}
.coursesApp__none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.coursesApp__none h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #030235;
  margin: 15px 0 5px;
}
.coursesApp__none a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #030235;
  display: flex;
  align-items: center;
  column-gap: 7px;
  justify-content: center;
  position: relative;
  padding: 0 0 5px;
}
.coursesApp__none a:hover span {
  width: 150px;
  transition: 0.3s;
}
.coursesApp__none a i {
  font-size: 20px;
}
.coursesApp__none a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-48%);
  display: inline-block;
  background: #030235;
  height: 1px;
  width: 0;
  transition: 0.3s;
}

/*# sourceMappingURL=courseStore.css.map */
