.coursesApp {
  padding: 32px;

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.24px;
    color: #030235;
    margin: 0 0 40px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
  }

  &__card {
    width: calc(100% / 3 - 100px / 3);
    box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02), 0 11px 15px rgba(95, 137, 158, 0.04);
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
    }

    &_top {
      background: #C9C7EF;
      border-radius: 12px 12px 0 0;
      padding: 20px;
      display: flex;
      align-items: center;
      column-gap: 15px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    &_title {
      font-size: 17px;
      font-weight: bold;
      line-height: 24px;
      color: #030235;
    }

    &_mentor {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.078px;
      color: #030235;
      opacity: 0.7;
    }

    &_bot {
      background: #FFF;
      padding: 10px 20px 15px;
      border-radius: 0 0 12px 12px;

      .coursesApp__card_bot-btn {
        width: 100%;
        display: block;
        margin: 25px 0 0;
        background: #f6f7ff;
        color: #030235;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;

        &:hover {
          background: #C9C7EF;
        }
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          display: block;
          margin: 25px 0 0;
          background: #f6f7ff;
          color: #030235;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-transform: capitalize;
          border: 1px solid transparent;

          &:first-child {
            width: 80%;

            &:hover {
              background: #C9C7EF;
            }
          }

          &:last-child {
            color: #970e00;
            border: 1px solid #970e00;
            background: #970e0020;
            max-height: unset;
            min-width: unset;
            font-size: 18px;
            padding: unset;
            height: 34px;
            width: 40px;

            &:hover {
              background: rgba(151, 14, 0, 0.17);
            }
          }
        }
      }
    }

    &_subtitle {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #030235;
    }
  }

  &__none {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #030235;
      margin: 15px 0 5px;
    }

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #030235;
      display: flex;
      align-items: center;
      column-gap: 7px;
      justify-content: center;
      position: relative;
      padding: 0 0 5px;
      &:hover span {
        width: 150px;
        transition: 0.3s;
      }
      i {
        font-size: 20px;
      }
      span {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-48%);
        display: inline-block;
        background: #030235;
        height: 1px;
        width: 0;
        transition: 0.3s;
      }
    }
  }
}